*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

.underwater-bg{
    background-image: url(../img/underwater.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.blue-text{
    color: #45aaf1;
    text-decoration: underline #45aaf1;
}

.return-top{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(230, 230, 230, 0.6);
    border-radius: 30px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: black;
}

.return-top:hover{
    color: #45aaf1;
}

.btn-design1{
    position: relative;
    width: 200px;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

.btn-design1::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: white;
}

.btn-design1:hover::before,
.btn-design1:focus::before{
    transform: scaleX(1);
}

.btn-design1:hover,
.btn-design1:focus{
    color: #45aaf1;
}
/* Page 1 CSS */

/* General Styling */
.page-1{
    width: 100%;
    height: 100vh;
    background-image: url(../img/4170001.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Navigation bar */
.navbar nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #45aaf1;
    position: sticky;
}

.nav-elements{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;
}

.nav-elements a{
    position: relative;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;

}

.nav-elements li{
    list-style: none;
}

.nav-elements a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -6px;
    transition: 0.3s
}

.nav-elements a:hover{
    color: black;
}

.nav-elements a:hover:after{
    width: 100%;
}

.burger{
    display: none;
}

.burger:hover{
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .nav-elements{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;

    }
    .nav-elements{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-elements li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg translate(-5px,6px));
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg translate(-5px,-6px));
}

.intro-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    flex-basis: 40%;
    position: relative;
    margin-left: 150px;
}

.intro-content::after{
    content: '';
    width: 10px;
    height: 90%;
    border-radius: 20px 20px 20px 20px;
    background: white;
    position: absolute;
    left: -30px;
    bottom: 5px;
}

.logo-content{
    color: white;
}

.intro-content h2{
    font-size: 90px;
    color: white;
}

.intro-content h3{
    font-size: 40px;
    color: white;   
}
@media screen and (max-width: 768px){
    .intro-content-container{
        margin-left: 75px;
    }
    .intro-content h2{
        font-size: 40px;
    }
    .intro-content h3{
        font-size: 15px;
    }
    .intro-content button{
        width: 150px;
    }
}

/* Page 2 */

/* General Styling */
.page-2{
    padding-left: 30px;
    padding-top: 30px;
    margin: 0px 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Left side text */
.about-content h2{
    font-size: 60px;
}

.about-content p{
    font-size: 20px;
    margin-top: 20px;
}

.about-gif{
    float: right;
}

@media screen and (max-width: 768px) {
    .about-content h2{
        font-size: 30px;
    }
    .about-content p{
        font-size: 10px;
    }
    .about-content button{
        width: 180px;
    }
    .about-gif img{
        height: 60px;
        width: 100%;
    }
}
/* Page 3 CSS */

/* General Styling */
.page-3{
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Carousel Showcase */
.slide{
    display: none
}

.slide img{
    width: 100%;
    height: 50vh;
    object-fit: contain;
    vertical-align: middle;
}

.carousel-container{
  max-width: 40%;
  position: relative;
  margin: auto;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.next{
  right: 0;
}

.prev:hover, .next:hover{
  background-color: rgba(113, 112, 112, 0.8);
}

/* Text below Carousel */
.attribute-text{
    position: absolute;
    color: black;
    background: rgba(255,255,255, 0.8);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.attribute-text h2{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 800;
}

.yellow-highlight{
    background-color: #FFFF00;
}

.attribute-text p{
    font-size: 1em;
    font-weight: 400;
}

.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #717171;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width: 768px) {
    .slide img{
        height: 30vh;
    }
    .prev .next{
        font-size: 5px;
    }
    .attribute-text h2{
        font-size: 25px;
        font-weight: 800;
    }
    .attribute-text p{
        font-size: 10px;
        font-weight: 400;
    }
    .attribute-text{
        width: 100%;
    }
}

/* Page 4 Elements */

/* General Styling */
.page-4{
    position: relative;
    padding-left: 30px;
    padding-top: 50px;
    margin: 0px 0;
    width: 100%;
    height: 100vh;
}

/* Left Side text */
.skill-content{
    position: absolute;
    width: 45%;
}

.skill-content h2{
    font-size: 3em;
    font-weight: 800;
}

.skill-content p{
    font-size: 1em;
    margin-top: 20px;
}

/* Skill Showcase Design */
.skill-bar-container{
    display: grid;
    justify-content: end;
    align-items: center;
    height: 100%;
}

::selection{
    color: #fff;
    background: #6665ee;
}

.skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: rgba(255,255,255, 0.8);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px 0px 0px 10px;
}

.skill-bars .bar{
    margin: 20px 0;
}

.skill-bars .bar:first-child{
    margin-top: 0px;
}

.skill-bars .bar .info{
    margin-bottom: 5px;
}

.skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100%{
      opacity: 1;
    }
}

.skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100%{
      transform: scaleX(1);
    }
}

.bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line.html span{
    width: 70%;
}

.bar .progress-line.css span{
    width: 60%;
}

.bar .progress-line.csharp span{
    width: 65%;
}

.bar .progress-line.python span{
    width: 80%;
}

.bar .progress-line.mysql span{
    width: 80%;
}

.progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100%{
      opacity: 1;
    }
}

.progress-line.html span::after{
    content: "70%";
}

.progress-line.css span::after{
    content: "60%";
}

.progress-line.csharp span::after{
    content: "65%";
}

.progress-line.python span::after{
    content: "80%";
}

.progress-line.mysql span::after{
    content: "80%";
}

@media screen and (max-width: 768px){

    .skill-bars{
        width: 200px;
    }

    .skill-content h2{
        font-size: 20px;
        font-weight: 800;
    }
    
    .skill-content p{
        font-size: 10px;
        margin-top: 3px;
    }
    .skill-content button{
        width: 150px;
    }
}

/* Page 5 Elements */

/* General Styling*/
.page-5{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Form */
.contact-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../img/AdobeStock_420316653.jpeg") no-repeat center;
	background-size: contain;
	filter: blur(50px);
	z-index: -1;
}
.contact-form{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.form-left{
	background: url("../img/AdobeStock_420316653.jpeg") no-repeat center;
	background-size: contain;
	height: 100%;
}

.form-container{
	padding: 25px 40px;
}

.form-container h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.form-container h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #45aaf1;
}

.form-element{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.form-element:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.submit-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #45aaf1;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.submit-btn:hover{
    background-color: #6665ee;
}

.form-element:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-form{
		grid-template-columns: 1fr;
	}
	.form-left{
		height: 200px;
	}
}