*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.page-1{
    width: 100%;
    height: 100vh;
    background-image: url(img/4170001.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #45aaf1;

}

.nav-elements{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;
}

.nav-elements a{
    position: relative;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;

}

.nav-elements li{
    list-style: none;
}

a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -6px;
    transition: 0.3s
}

a:hover{
    color: black;
}

a:hover:after{
    width: 100%;
}

.main-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    flex-basis: 40%;
    position: relative;
    margin-left: 150px;
}

.section-1::after{
    content: '';
    width: 10px;
    height: 90%;
    border-radius: 20px 20px 20px 20px;
    background: white;
    position: absolute;
    left: -30px;
    bottom: 5px;
}

.logo-text{
    color: white;
}
.section-1 h2{
    font-size: 90px;
    color: white;
}

.blue-text{
    color: #45aaf1;
    text-decoration: underline #45aaf1;
}

.section-1 h3{
    font-size: 40px;
    color: white;   
}

.section-1 button{
    position: relative;
    width: 220px;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

.section-1 button::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: white;
}

.section-1 button:hover::before,
.section-1 button:focus::before{
    transform: scaleX(1);
}

.section-1 button:hover,
.section-1 button:focus{
    color: #45aaf1;
}

.page-2{
    padding-left: 30px;
    padding-top: 30px;
    margin: 0px 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #45aaf1;
}

.about-text h2{
    font-size: 3em;
}

.white-text{
    color: white;
    text-decoration: underline;
}

.about-text p{
    font-size: 1em;
    margin-top: 20px;
}

.about-text button{
    position: relative;
    width: 200px;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

.about-text button::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: white;
}

.about-text button:hover::before,
.about-text button:focus::before{
    transform: scaleX(1);
}

.about-text button:hover,
.about-text button:focus{
    color: #45aaf1;
}

.about-gif{
    display: flex;
    justify-content: end;
    align-items: center;
}

.page-3{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/4170001.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide{
    display: none
}
img{
    vertical-align: middle;
}

.carousel-container{
  max-width: 40%;
  position: relative;
  margin: auto;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.next{
  right: 0;
}

.prev:hover, .next:hover{
  background-color: rgba(113, 112, 112, 0.8);
}

.attribute-text{
    position: absolute;
    color: black;
    background: rgba(255,255,255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.attribute-text h2{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 800;
}

.yellow-highlight{
    background-color: #FFFF00;
}

.attribute-text p{
    font-size: 1em;
    font-weight: 400;
}

.slide img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color: #717171;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

.page-4{
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    margin: 0px 0;
    width: 100%;
    height: 100vh;
    background: #45aaf1;
}

.skill-text{
    position: absolute;
    width: 45%;
}

.skill-text h2{
    font-size: 3em;
    font-weight: 800;
}

.skill-text p{
    font-size: 1em;
    margin-top: 20px;
}

.skill-bar-container{
    display: grid;
    justify-content: end;
    align-items: center;
    height: 100%;
}

::selection{
    color: #fff;
    background: #6665ee;
  }

  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: rgb(208, 208, 208);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px 0px 0px 10px;
  }

  .skill-bars .bar{
    margin: 20px 0;
  }

  .skill-bars .bar:first-child{
    margin-top: 0px;
  }

  .skill-bars .bar .info{
    margin-bottom: 5px;
  }

  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }

  @keyframes showText {
    100%{
      opacity: 1;
    }
  }

  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }

  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }

  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }

  .bar .progress-line.html span{
    width: 70%;
  }

  .bar .progress-line.css span{
    width: 60%;
  }

  .bar .progress-line.csharp span{
    width: 65%;
  }

  .bar .progress-line.python span{
    width: 80%;
  }

  .bar .progress-line.mysql span{
    width: 80%;
  }

  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }

  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }

  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }

  .progress-line.html span::after{
    content: "70%";
  }

  .progress-line.css span::after{
    content: "60%";
  }

  .progress-line.csharp span::after{
    content: "65%";
  }

  .progress-line.python span::after{
    content: "80%";
  }

  .progress-line.mysql span::after{
    content: "80%";
  }
