*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.page-1{
    width: 100%;
    height: 100vh;
    background-image: url(img/4170001.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #45aaf1;
    font-family: 'Poppins', sans-serif;

}

.nav-elements{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;
}

.nav-elements a{
    position: relative;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;

}

.nav-elements li{
    list-style: none;
}

a:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -6px;
    transition: 0.3s
}

a:hover{
    color: black;
}

a:hover:after{
    width: 100%;
}

.logo-text{
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    flex-basis: 40%;
    position: relative;
    margin-left: 150px;
}

.section-1::after{
    content: '';
    width: 10px;
    height: 90%;
    border-radius: 20px 20px 20px 20px;
    background: white;
    position: absolute;
    left: -30px;
    bottom: 5px;
}

.section-1 h2{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.section-1 h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: white;   
}

.section-1 button{
    position: relative;
    width: 200px;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

.section-1 button::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: white;
}

.section-1 button:hover::before,
.section-1 button:focus::before{
    transform: scaleX(1);
}

.section-1 button:hover,
.section-1 button:focus{
    color: #45aaf1;
}

.page-2{
    padding-left: 30px;
    padding-top: 30px;
    margin: 0px 0;
    position: relative;
    width: 100%;
    height: 100vh;
    background: orange;
}

.about-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
}

.about-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.about-text button{
    position: relative;
    width: 200px;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}

.about-text button::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background-color: white;
}

.about-text button:hover::before,
.about-text button:focus::before{
    transform: scaleX(1);
}

.about-text button:hover,
.about-text button:focus{
    color: #45aaf1;
}

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: pink;
}

.carousel{
    position: relative;
    width: 800px;
    min-height: 500px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    
}

.carousel .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.carousel .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.carousel .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .slide .slide-info{
    position: absolute;
    color: #222;
    background: rgba(255,255,255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);

}
.carousel .slide .slide-info h2{
    font-size: 2em;
    font-weight: 800;
}

.carousel .slide .slide-info p{
    font-size: 1em;
    font-weight: 400;
}

.carousel-nav{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
  
.next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.carousel-track{
    z-index: 999;
    display: flex;
    justify-content: center;
}

.carousel-track .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 25px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.carousel-track .slide-icon.active{
    background: #4285F4;
}

@media (max-width: 900px){
    .carousel{
        width: 100%;
    }

    .carousel .slide .info{
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px){
    .carousel .slide .info h2{
        font-size: 1.8em;
        line-height: 40px;
    }

    .carousel .slide .info p{
        font-size: 0.9em;
    }
}